# Database Configuration
DB_USER=peblo
DB_PASSWORD=peblo
DB_NAME=peblo

# Backend Configuration
SECRET_KEY=super-secret-development-key-do-not-use-in-production
# STORAGE_BACKEND=local
# STORAGE_PATH=/app/storage
